*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    cursor: pointer;
}
table{
    border-collapse:collapse;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: #120e1c;
}
input,textarea,button{
    outline: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/Szczalka.png) right 20px center no-repeat;
    background-size: 5px;
    outline: none;
}
select::-ms-expand {
    display: none;
}
iframe {
    border: none;
    outline: none;
}
/* utilities */
.md-d-block{
    display: none;
}
.center-wrapper {
    max-width: 1360px;
    padding: 0 30px;
    margin: 0 auto;
}
.negative-margin{
    margin:0 -30px ;
    width:calc(100% + 60px); 
}
.negative-padding{
    padding-left: 15px;;
}
.flex-container{
    display: flex;
}
.page-bar .flex-container {
    justify-content: space-between;
    align-items: center;
}
.page-hero .flex-container {
    justify-content: space-between;
}
.dreamvoyage-section .flex-container {
    justify-content: space-between;
}
.quote-wrapper.flex-container {
    display: block;
}
.page-footer .flex-container {
    flex-wrap: wrap;
}
.page-footer-bar .flex-container{
    justify-content: space-between;
    align-items: center;
    max-width:450px;
    height: 130px;
} 
.contact-data-section .flex-container{
    flex-wrap: wrap;
    justify-content: space-between
}
.form-field-wrapper .flex-container{
    display: block;
}

.form-field-wrapper .grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    row-gap: 10px
}

.icon{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;

}
.icon-phone-violet {
    background-image: url(../img/icon/icon-phone-violet.png);
    padding-left: 20px;
}
.icon-mail-violet {
    background-image: url(../img/icon/icon-mail-violet.png);
    padding-left: 35px;
}
.social-icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    text-indent:-99999px;
}
.icon-fb-white{
    background-image: url(../img/icon/icon-fb-white.svg) ;
}
.icon-twitter-white{
    background-image: url(../img/icon/icon-twitter-white.svg);
}
.icon-in-white{
    background-image: url(../img/icon/icon-in-white.svg);
}
.icon-google-white{
    background-image: url(../img/icon/icon-g+-white.svg);
}
.page-logo {
    text-indent: -9999px;
    background: url(../img/icon/icon-page-logo.svg) center center no-repeat;
    background-size: contain;
}
.page-hero .page-logo {
    width: 149px;
    height: 63px;
}
.page-footer .page-logo{
    width: 119px;
    height: 50px;   
}
.heading {
    color: #ffffff;
    font-family: Oswald;
    font-weight: 700;
    line-height: 90px;
    text-transform: uppercase;
}
.heading-1 {
    font-size: 36px;
}
.heading-2 {
    font-size: 24px;
}
.heading-light {
    color: #ffffff;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 300;
    line-height: 89.97px;
}
.text {
    max-width:810px;
    color: #9b94aa;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-violet {
    color: #cd30be;
}
.text-bold {
    font-weight: bold;
}
.text-white {
    color: #fff;
}
.text-heading {
    color: #ffffff;
    font-family: Oswald;
    font-size: 18px;
    font-weight: 400;
    line-height: 89.97px;
    text-transform: uppercase;
}
.text-footer {
    color: #463f56;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}
.details-beginning .text p:not(:first-child) {
    margin-top: 30px;
}
.details-currently .text, .details-future .text {
    line-height: 30px;
    font-size: 13px;
}
.quote-wrapper .text{
    max-width: 515px;
}
.info-section {
    margin-top: 35px;
}
.details-info {
    margin-top: 20px;
}
.btn{
    width: 149px;
    height: 60px;
    border: 4px solid #cd30be;
    background-color: transparent;
    color: #cd30be;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 700;
    line-height: 52px;
    text-transform: uppercase;
    transition:0.7s;
}
.btn:hover{
    color:#fff;
    border-color:#fff
}
.form-wrapper .btn:last-child{
    display: none;
}
.form-wrapper .btn-group{
    margin-top: 50px;
}
/* page-bar */

.page-bar{
    background-color: #070312;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
}
.free-delivery {
    display: none;
}
.bar-contact {
    width: 100%;
    height: 80px;
}
.bar-contact a {
    color: #fff;
}

/* page Hero */
.page-hero {
    padding: 30px 0;
    background: linear-gradient(to top, #120e1c 64%, #100c1a 70%, rgba(7, 3, 18, 0) 100%) center center no-repeat, url(../img/header-bg.png) center center no-repeat;
    background-size: cover;
}
.page-nav {
    position: relative;
}
.bars {
    width: 60px;
    height: 60px;
    background-color: #070312;
    position: relative;
    border-radius: 5px;
}
.bars-line {
    width: 30px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 4px;
}
.bars-line::after, .bars-line::before {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    border-radius: 4px;
}
.bars-line::before {
    width: 100%;
    background-color: #fff;
    top: -10px;
}
.bars-line::after {
    width: 66%;
    background-color: #cd30be;
    bottom: -10px;
}
.navbar-nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    background-color: #cd30be;
}
.active{
    display: block;
}
.nav-item a{
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-item>a {
    color: #ffffff;
    padding: 20px 30px 15px;
    min-width: 180px;
}
.nav-item:first-child>a {
    padding-top: 25px;
}
.nav-item:last-child a {
    padding-bottom: 25px;
}
.dropdown-toggler{
    position: relative;
}
.dropdown-toggler a{
    background-image: url(../img/Szczalka.png);
    background-position: right 25px center;
    background-repeat: no-repeat;
    background-size: 5px;
}
.dropdown-toggler:hover .dropdown-menu{
    display: block;
}
.dropdown-menu {
    background-color: #fff;
    display: none;
}
.dropdown-menu>a {
    padding: 25px 30px 15px;
    color: #1e1929;
}
.dropdown-menu >a:last-child {
    padding: 15px 30px 30px;
}
.page-hero-content {
    padding: 70px 0;
    text-align: center;
}
.hero-title {
    font-size: 71px;
    line-height: 1;
}
.hero-subtitle {
    margin-top: 45px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
}

/* Aside */
.aside{
    padding-top: 28px;
    display: none;
    width:25%;
    max-width: 270px;
}
.side-navbar{
    background-color: #1e1929;
    /* padding: 50px; */
    padding: 25px ;
}
.side-navbar a{
    display: block;
    color: #ffffff;
    line-height: 50px;
    transition:0.7s;
    
}
.side-navbar a:not(:last-child){
    border-bottom:1px solid #362f45;
}
.side-navbar a:hover{
    color: #cd30be;
}

/* about us */
.person-wrapper {
    margin-top: 40px;
}
.dreamvoyage-section{
    margin-top: 0;
}
.person {
    max-width:260px;
    width: 30%;
}
.person-wrapper img {
    width: 100%;
    height: 100%;
}
.quote-wrapper {
    margin-top: 65px;
    padding: 50px 20px 70px;
    max-width: 873px;
    text-align: center;
    background-color: #1e1929;
}
.quote {
    margin-bottom: 25px;
}
.fa-quote-right {
    font-size: 50px;
    color: white;
}
.video-wrapper {
    margin-top: 65px;
    height: 231px;
    max-width:880px;
}
.video-wrapper iframe {
    width: 100%;
    height: 100%;
}
.price-list {
    width: 100%;
    font-size: 12px;
    color: #9b94aa;
    max-width: 930px
}
.price-list tr {
    height: 60px;
}
.price-list tr.table-head {
    background-color: #362f45;
}   
.price-list tr:nth-child(odd) {
    background-color: rgba(30, 25, 41,0.4);
}
.price-list td{
    width: 33%;
    text-align: center
}
.table-description {
    margin-top: 30px;
    color: #9b94aa;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
}

/* .questions-wrapper */
.questions-wrapper {
    margin-top: 20px;
}
.question {
    border-top: 1px solid #2b253b;
    padding: 35px 0;
}
.question p:not(:first-child){
    margin-top: 35px;
}

/* Kontakt html */
.contant-article{
    padding-bottom: 70px;
    width: 100%;
}

.contact-data-section{
    margin-top: 0;
}
.contact-info{
    margin: 15px 20px 50px 0;
}
.contact-info p{
    margin-top: 20px;
}
.open-hours-wrapper{
    margin-top: 15px;
    width: 100%;
    max-width:490px
}
.open-hours{
    margin-top: 20px;
    width:100%
}
.open-hours tr{
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
}
.open-hours tr:nth-child(odd){
    background-color: rgba(30, 25, 41,0.4);
}
.form-wrapper{
    margin-top: 30px;
}
/* FORMULARZ */

.form-field-wrapper,
.radio-field{
    margin-top: 20px;
}
.contact-day-field,
.approval-field,
.textarea-field{
    margin-top: 30px;
}
.error-wrapper{
    color:red;
    font-size: 11px;
}
.form-label{
    display: block;
    color: #9b94aa;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.light-label{
    color: #9b94aa;
    font-size: 14px;
    font-weight: 300;
}
.radio-field .light-label:nth-of-type(1){
    margin-right: 45px;
}
.required::after{
    content: '*';
}
.form-control{
    width: 100%;
    max-width: 530px;
    height: 50px;
    border: 3px solid #474155;
    color: #9b94aa;
    font-size: 14px;
    font-weight: 300;
    background-color: transparent;
    padding: 0 15px;
    transition:0.7s;
}
.form-control:focus{
    border-color:#fff;
    color:#fff;
}
select:focus option{
    color:#000!important
}
.area-control{
    padding: 15px;
    height: 160px;
}
input[type=radio],input[type=checkbox]{
    display: none;
}
.radio-styled,.checkbox-styled{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #474155;
    background-color: transparent;
    position: relative;
    vertical-align: middle;
    margin-right: 10px;
}
.radio-styled{
    border-radius: 50%;
}
.radio-styled::after,.checkbox-styled::after{
    content:'';
    display: none;
    width:8px;
    height: 8px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #cd30be;;
}
.radio-styled::after{
    border-radius: 50%;
}
input[type=radio]:checked + label .radio-styled::after{
    display: block;
}
input[type=checkbox]:checked + label .checkbox-styled::after{
    display: block;
}
.contact-day-wrapper{
    width: 100%;
    max-width:400px;
    margin-top: 20px;
}


/* Map section */
.map-section{
    margin-top: 10px;
}
.map-wrapper{
    transition: 0.7s;
    margin-top: 20px;
    height: 300px;
}
.map-wrapper iframe{
    width: 100%;
    height: 100%;
}

/* Page footer */
.page-footer{
    border-top: 1px solid #2b253b;
}
.footer-content{
    padding:60px 0 ;
}
.col {
    max-width: 200px;
    width: 50%;
    padding-right: 10px;

}
.social-icons-wrapper a:not(:last-child){
    margin-right: 15px;
}
.page-footer-bar{
    background-color: #1e1929;
}
.copyright{
    color: #413a50;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

@media screen and (min-width:420px){
    /* utilities */
    .details-currently .text, .details-future .text {
        font-size: 15px;
    }
}
@media screen and (min-width:550px){

    /* utilities */
    .negative-margin{
        margin:0;
        width:100%;
    }
    .bar-contact.flex-container {
        justify-content: flex-end;
    }
    .quote-wrapper.flex-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .form-wrapper .btn-group .btn:last-child{
        display: inline-block;
        margin-left: 10px;
    }

    /* page bar */
    .free-delivery{
        display: block;
    }
    .bar-contact a:first-child{
        margin-right: 50px;
    }

    /* direction section     */
    .quote-wrapper{
        text-align: left;
        padding: 50px;
    }
    .quote{
        margin-bottom:0;
        margin-right: 60px;
    }
    .fa-quote-right{
        font-size: 70px;;
    }
    .video-wrapper {
        height: 350px;
    }
}
@media screen and (min-width:700px){

    /* utilities */
    .heading-1{
        font-size: 48px;
    }
    .heading-2{
        font-size: 30px;
    }
    .details-info {
        margin-top: 40px;
    }

    /* page hero */
    .page-hero {
        background: linear-gradient(to top, #120e1c 29%, #100c1a 37%, rgba(7, 3, 18, 0) 70%) center center no-repeat, url(../img/header-bg.png) center center no-repeat;
    }
    .page-hero-content {
        padding: 140px 0 170px;
    }
    .bars{
        display: none;
    }
    .navbar-nav{
        display: flex;
        position: initial;
    }
    .nav-item>a {
        white-space: nowrap;
        min-width: initial;
        padding: 24px 30px;
    }
    .nav-item:first-child >a {
        padding-left: 37px;
    }
    .nav-item:last-child >a{
        padding-right: 37px;
        padding-left: 25px;
    }
    .dropdown-toggler a{
        background-position: right center;
    }
    .dropdown-menu{
        position: absolute;
        top:100%;
        left:0;
        
    }
    .dropdown-menu a:first-child{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .dropdown-menu a:last-child{
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .hero-title{
        font-size: 100px;
    }
    .hero-subtitle{
        font-size: 20px;
    }

    /* direction-=section */
    .quote-wrapper{
        margin-top: 80px;
    }
    .popular-questions-section{
        margin-top: 60px;
    }
    .question:last-child {
        border-bottom: 1px solid #2b253b;
    }

    /* map-section */
    .map-wrapper{
        height: 400px;
    }
    
    /* page footer/ */
    .page-footer{
        margin-top: 60px;
    }
}
@media screen and (min-width:900px){

    /* utilities */
    .form-field-wrapper .flex-container{
        display: flex;
        align-items: center;
    }
    .contact-day-field .flex-container,
    .textarea-field .flex-container{
        align-items: flex-start
    }
    .form-wrapper .btn-group{
        padding-left: 300px;
    }
    /* page-hero */
    .page-hero{
        background: linear-gradient(to top, #120e1c 10%, #100c1a 15%, rgba(7, 3, 18, 0) 50%) center center no-repeat, url(../img/header-bg.png) center center no-repeat;
    }

    /* .dreamvoyage-section */
    .person-wrapper{
        margin-top: 60px;
    }

     /* direction section */
    .contact-day-wrapper{
        width: 50%;
        margin-top: 0;
    }
    .approval-field{
        padding-left: 300px;
    }
    
    .form-label{
        width:300px;
        margin-bottom: ;
    }
    .form-control{
        width:50%;
    }
    
    .video-wrapper {
        height: 474px;
    }

    /* Map section */
    .map-section{
        margin-top: 100px;
    }
    .map-wrapper{
        height: 510px;
    }
}

@media screen and (min-width:1000px){

    .page-hero{
        background: linear-gradient(to top, #120e1c 10%, #100c1a 15%, rgba(7, 3, 18, 0) 65%) center center no-repeat, url(../img/header-bg.png) center center no-repeat;
    }
    .hero-title{
        font-size: 120px;
    }
    .hero-subtitle{
        font-size: 24px;
    }

        /* aside */
    .aside{
        display: block;
    }

    /* Page Article */
    .contant-article,
    .about-us-article{
        width:75%;
        padding-left: 80px;
    }

    /* page footer/ */
    .page-footer{
        margin-top: 120px;
    }
    .col{
        max-width:230px;
    }
}
@media screen and (min-width:1150px){

    /* utilities */
    .form-wrapper .btn-group,
    .approval-field{
        padding-left: 350px;
    }    
    .form-wrapper .btn-group .btn:last-child{
        margin-left: 30px;
    }

    /* aside */
    .side-navbar{
        padding: 45px;
    }

    /* form */
    .form-label{
        width: 350px;
    }

    /* Map section */
    .map-section{
        margin-top: 125px;
    }
} 
@media screen and (min-width:1250px){

    .page-hero-content{
        padding: 170px 0 230px;
    }
    .contact-form-section{
        margin-top: 90px;
    }
}